.Dashboard {
  grid-column: 2 / 12;
}

/* Media Queries */

/* 1100 PX */
/* @media only screen and (max-width: 1100px) {
  .SingleEvent {
    grid-column: 2 / 12;
  }
} */

/* 600 PX */
@media only screen and (max-width: 600px) {
  .Dashboard {
    grid-column: 1 / -1;
  }
}
