.Events {
  grid-row: 2;
  grid-column: 11 / 13;
}

/* .Sidebar {
  & .event {
    margin-bottom: 10px;

    &--heading {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &--date {
      font-size: 12px;
    }
  }
} */

.Events .event {
  margin-bottom: 10px;
}

.Events .event--heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.Events .event--date {
  font-size: 12px;
}
