.Events {
  /* width: 20%; */

  /* transition: all 1s ease-in-out; */

  width: 50%;
}

.Events .heading-span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Events .heading-span i {
  font-size: 30px;
  cursor: pointer;

  /* transition: all 0.5s; */
}

.Events .heading-span i:hover {
  transform: translateZ(0) scale(1.1);
}

.Events .event--content {
  margin-left: 10px;
}

.Events .event--content p {
  margin: 5px 0;
}

.Events .event {
  margin-bottom: 10px;
}

.Events .event--heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.Events .event--more-details {
  font-size: 12px;
  opacity: 0.8;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  /* .Events {
    grid-row: 3;
    grid-column: 1 / -1;
  } */
  .Events {
    width: 100%;
  }
}
