.AdminEventItem h1 {
  border-bottom: 2px var(--font-light) solid;
}

.AdminEventItem .list {
  display: flex;
  flex-direction: column;
}

.AdminEventItem .list span {
  margin: 10px 0;
}

.AdminEventItem .event-buttons button {
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
}

.AdminEventItem .event-buttons .delete-button {
  background-color: var(--color-red-vibrant);
  color: inherit;
}
