.container {
  margin: 5%;

  display: grid;
  /* grid-auto-rows:  */
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

/* @media only screen and (max-width: 600px) {
  .container {
    grid-template-rows: 50vh repeat(2, auto);
    grid-gap: 20px;
  }
} */
