.AdminSideBar {
  grid-column: 1 / 3;

  border-right: 2px var(--font-light) solid;

  min-height: 100vh;
}

.AdminSideBarList {
  list-style: none;
}

.AdminSideBar h4 {
  color: inherit;
  padding: 10px;
  background-color: rgb(78, 88, 97);

  display: block;

  border-bottom: 2px var(--font-light) solid;
  border-top: 2px var(--font-light) solid;
}

.AdminSideBarList a {
  color: inherit;
  padding: 10px;
  background-color: lightslategray;
  text-decoration: none;

  display: block;
}

.AdminSideBarList a:hover {
  background-color: lightgray;
}
