.AdminUserItem h1 {
  border-bottom: 2px var(--font-light) solid;
}

.AdminUserItem .list {
  display: flex;
  flex-direction: column;
}

.AdminUserItem .list span {
  margin: 10px 0;
}

.AdminUserItem .user-buttons {
  margin: 10px 0;
}

.AdminUserItem .user-buttons button {
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
}

.AdminUserItem .user-buttons .delete-button {
  background-color: var(--color-red-vibrant);
  color: inherit;
}

.AdminUserItem .user-buttons .save-button {
  background-color: var(--color-green-vibrant);
}

.AdminUserItem input {
  padding: 5px 10px;
  border-radius: 5px;

  width: 100%;

  border: none;

  margin: 10px 0;
  outline: none;
}
