/* Core Styles and Typography */
#title {
  text-transform: uppercase;
  font-family: 'Titillium Web', sans-serif;
  padding: 20px;
}

.heading {
  font-family: 'Titillium Web', sans-serif;
}

.heading-primary {
  display: inline;
}

.underline {
  border-bottom: 2px solid var(--font-light);
  display: block;
  margin-bottom: 20px;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }

  #title {
    font-size: 30px;
  }

  .heading-primary {
    font-size: 25px;
  }
}
