/* Core Styles and Typography */
#title {
  text-transform: uppercase;
  font-family: 'Titillium Web', sans-serif;
}

.heading {
  font-family: 'Titillium Web', sans-serif;
}

.heading-primary {
  margin-bottom: 20px;
}

.underline {
  border-bottom: 2px solid var(--font-light);
}
