:root {
  --font-light: rgb(238, 238, 238);
  --color-violet-vibrant: hsl(305, 100%, 64%);
  --color-red-vibrant: hsl(345, 93%, 59%);
  --color-green-vibrant: hsl(91, 98%, 62%);
  --color-orange-vibrant: hsl(36, 100%, 64%);
  --color-blue-vibrant: hsl(206, 100%, 64%);
  --color-blue-medium: hsl(212, 100%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #23262d;
  color: var(--font-light);

  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
