.SingleArticle {
  grid-column: 4 / 10;
  grid-row: 2;
}

.SingleArticle .line-header {
  font-weight: bold;
  font-size: 18px;
}

.SingleArticle p {
  margin: 8px 0;
}

/* Media Queries */

/* 1100 PX */
@media only screen and (max-width: 1100px) {
  .SingleArticle {
    grid-column: 2 / 12;
  }
}

/* 600 PX */
@media only screen and (max-width: 600px) {
  .SingleArticle {
    grid-column: 1 / -1;
  }
}
