.NewsFeed {
  /* width: 80%; */
  margin-right: 2%;

  transition: all 1s ease-in-out;
}

.NewsFeed .heading-span {
  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: all 1s;
}

.NewsFeed .heading-span i {
  font-size: 30px;
  cursor: pointer;

  transition: all 0.5s;
}

.NewsFeed .heading-span i:hover {
  /* animation: pulsate 1s linear infinite; */
  transform: translateZ(0) scale(1.1);
}

.NewsFeed .article {
  margin-bottom: 10px;
}

.NewsFeed .article--heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.NewsFeed .article--date {
  font-size: 12px;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .NewsFeed {
    grid-column: 1 / 13;
  }
}
