.PasswordForgetPage {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;

  align-items: center;
}

.PasswordForgetPage-container {
  width: 400px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PasswordForgetPage-container p {
  padding-bottom: 10px;
}

.PasswordForgetPage form {
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: center;
}

.PasswordForgetPage form input {
  padding: 5px 10px;
  border-radius: 5px;

  width: 100%;

  border: none;

  margin: 5px 0;
}

.PasswordForgetPage form button {
  width: 50%;
  padding: 5px 10px;

  margin: 5px 0;
  background-color: var(--color-green-vibrant);

  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.PasswordForgetLink {
  width: 50%;
  padding: 5px 10px;

  margin: 5px 0;
  background-color: var(--color-orange-vibrant);

  border: none;
  border-radius: 5px;

  text-decoration: none;

  cursor: pointer;
}

.PasswordForgetLink a {
  text-decoration: none;
  color: inherit;
}
