.PasswordForgetLink {
  width: 50%;
  padding: 5px 10px;

  margin: 5px 0;
  background-color: var(--color-orange-vibrant);

  border: none;
  border-radius: 5px;

  text-decoration: none;

  cursor: pointer;
}

.PasswordForgetLink a {
  text-decoration: none;
  color: inherit;
}
